<body style="margin:0;">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script>
const max_score = 400;

function clearScores() {
    for(const elem of ["#p1clip", "#p1text", "#p2diff", "#p2clip", "#p2text", "#p1diff"])
    {
        $(elem).hide();
    }
}

function updateScores({p1Score, p2Score, preset}) {
    if (p1Score === undefined || p2Score === undefined) return;

    for(const {score, diff, clip, text, diffText} of [
        {score: p1Score.score, diff: Math.max(p1Score.score - p2Score.score, 0), clip: "#p1clip", text: "#p1text", diffText: "#p2diff"},
        {score: p2Score.score, diff: Math.max(p2Score.score - p1Score.score, 0), clip: "#p2clip", text: "#p2text", diffText: "#p1diff"}])
    {
        if (diff === 0) {
            $(clip).hide();
            $(diffText).hide();
            $(text).removeClass("winning");
        } else {
            const direction = $(clip).attr("data-score-direction");
            let size = diff <= max_score / 25.0 ? 5.0 * diff / max_score : Math.sqrt(diff / max_score);
            if (direction.toLowerCase() === "left" || direction.toLowerCase() === "down") size = 1 - size;
            clippath = {"left": "auto", "up": "auto", "down": "auto", "right": "auto"};
            clippath[direction.toLowerCase()] = String(size * 100) + "%";
            $(clip).css({"clip-path": `rect(${clippath.up} ${clippath.right} ${clippath.down} ${clippath.left})`});
            $(clip).show();
            $(diffText).text(Number(-diff).toLocaleString());
            $(diffText).show();
            $(text).addClass("winning");
        }
        $(text).text(Number(score).toLocaleString());
        $(text).show();
    }
}
    </script>
    <script src="websocket.js"></script>
    <style>
body {
    background-color: black;
}
tspan {
    font-style:normal;
    font-variant:normal;
    font-weight:300;
    font-stretch:semi-condensed;
    font-family:Bahnschrift;
    font-variant-ligatures:normal;
    font-variant-caps:normal;
    font-variant-numeric:tabular-nums;
    font-variant-east-asian:normal;
    text-align:start;
    writing-mode:lr-tb;
    direction:ltr;
    white-space:pre;
    display:inline;
    fill:#ffffff;
    fill-opacity:1
}
.winning {
    font-weight: bolder;
    font-size: larger;
}
    </style>
    <svg
    width="1280"
    height="100"
    viewBox="0 0 1280 100"
    version="1.1"
    id="svg1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs
        id="defs1">
        <rect
        x="640"
        y="40"
        width="260.72762"
        height="60"
        id="rect13" />
        <rect
        x="350.6058"
        y="40"
        width="289.3942"
        height="60"
        id="rect12" />
        <rect
        x="545.76345"
        y="15.496389"
        width="94.236546"
        height="24.503611"
        id="rect7" />
        <rect
        x="643.82654"
        y="13.55934"
        width="94.552186"
        height="25.768785"
        id="rect5" />
        <rect
        x="648.55306"
        y="15.066702"
        width="147.92762"
        height="24.654604"
        id="rect3" />
        <rect
        x="643.82654"
        y="13.55934"
        width="75.665962"
        height="22.639256"
        id="rect6" />
    </defs>
    <g
        id="layer1">
        <rect
        style="fill:#df0909;fill-opacity:1"
        id="rect1"
        width="640"
        height="10"
        x="0"
        y="0"
        />
        <rect
        style="fill:#0909df;fill-opacity:1"
        id="rect2"
        width="640"
        height="10"
        x="640"
        y="0"
        />
        <rect
        style="fill:#df0909;fill-opacity:1;stroke-width:1.73205"
        id="p1clip"
        width="640"
        height="30"
        x="0"
        y="10"
        data-score-direction="left"
        />
        <rect
        style="fill:#0909df;fill-opacity:1;stroke-width:1.73205"
        id="p2clip"
        width="640"
        height="30"
        x="640"
        y="10"
        data-score-direction="right"
        />
        <text
        xml:space="preserve"
        id="text5"
        x="0"
        y="0"
        ><tspan
            x="645"
            y="32"
            id="tspan2"><tspan
            style="font-size:18.6667px"
            id="p2diff">-10,000,000</tspan></tspan></text>
        <text
        xml:space="preserve"
        id="text6"
        style="font-size:18.6667px"
        ><tspan
            style="text-anchor:end"
            x="635"
            y="32"
            id="p1diff">-10,000,000</tspan></text>
        <text
        xml:space="preserve"
        id="text11"
        style="font-size: 48px;"
        ><tspan
            style="text-anchor: end; dominant-baseline: hanging;"
            x="630"
            y="55"
            id="p1text">10,000,000</tspan></text>
        <text
        xml:space="preserve"
        id="text12"
        style="font-size:48px"
        ><tspan
            style="dominant-baseline: hanging;"
            x="650"
            y="55"
            id="p2text">10,000,000</tspan></text>
    </g>
    </svg>

</body>