<body style="margin:0;">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/obs-websocket-js"></script>
    <script src="websocket.js"></script>
    <style>
body {
    background-color: black;
}
tspan {
    font-style:normal;
    font-variant:normal;
    font-weight:300;
    font-stretch:semi-condensed;
    font-family:Bahnschrift;
    font-variant-ligatures:normal;
    font-variant-caps:normal;
    font-variant-numeric:tabular-nums;
    font-variant-east-asian:normal;
    text-align:start;
    writing-mode:lr-tb;
    direction:ltr;
    white-space:pre;
    display:inline;
    fill:#ffffff;
    fill-opacity:1
}
.winning {
    font-weight: bolder;
    font-size: larger;
    vertical-align: top;
}
    </style>
    <svg
    width="1280"
    height="100"
    viewBox="0 0 1280 100"
    version="1.1"
    id="svg1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs
        id="defs1">
        <rect
        x="640"
        y="40"
        width="260.72762"
        height="60"
        id="rect13" />
        <rect
        x="350.6058"
        y="40"
        width="289.3942"
        height="60"
        id="rect12" />
        <rect
        x="545.76345"
        y="15.496389"
        width="94.236546"
        height="24.503611"
        id="rect7" />
        <rect
        x="643.82654"
        y="13.55934"
        width="94.552186"
        height="25.768785"
        id="rect5" />
        <rect
        x="648.55306"
        y="15.066702"
        width="147.92762"
        height="24.654604"
        id="rect3" />
        <rect
        x="643.82654"
        y="13.55934"
        width="75.665962"
        height="22.639256"
        id="rect6" />
    </defs>
    <g
        id="layer1">
        <rect
        style="fill:#df0909;fill-opacity:1"
        id="rect1"
        width="640"
        height="10"
        x="0"
        y="0"
        />
        <rect
        style="fill:#0909df;fill-opacity:1"
        id="rect2"
        width="640"
        height="10"
        x="640"
        y="0"
        />
        <rect
        style="fill:#df0909;fill-opacity:1;stroke-width:1.73205"
        id="p1clip"
        width="640"
        height="30"
        x="0"
        y="10"
        data-score-direction="left"
        />
        <rect
        style="fill:#0909df;fill-opacity:1;stroke-width:1.73205"
        id="p2clip"
        width="640"
        height="30"
        x="640"
        y="10"
        data-score-direction="right"
        />
        <text
        xml:space="preserve"
        id="text5"
        x="0"
        y="0"
        ><tspan
            x="645"
            y="30"
            id="tspan2"><tspan
            style="font-size:18.6667px"
            id="p2diff">-10,000,000</tspan></tspan></text>
        <text
        xml:space="preserve"
        id="text6"
        style="font-size:18.6667px"
        ><tspan
            style="text-anchor:end"
            x="635"
            y="30"
            id="p1diff">-10,000,000</tspan></text>
        <text
        xml:space="preserve"
        id="text11"
        style="font-size: 48px;"
        ><tspan
            style="text-anchor: end; dominant-baseline: hanging;"
            x="630"
            y="60"
            id="p1text">10,000,000</tspan></text>
        <text
        xml:space="preserve"
        id="text12"
        style="font-size:48px"
        ><tspan
            style="dominant-baseline: hanging;"
            x="650"
            y="60"
            id="p2text">10,000,000</tspan></text>
    </g>
    </svg>

</body>